.search-list {
  background-color: #fefefe;
  height: 90vh;
  overflow: auto;
}
.search-list .contact {
  display: flex;
  align-items: center;
}
.search-list .avt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.search-list .name {
  margin: 0;
  padding: 0;
  margin-top: 0.4rem;
}
