.chat-header-btn {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5em;
}
.btn-chat-header {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 6px;
  margin: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-chat-header:hover {
  background-color: #eeeff2;
}
.btn-chat-header:focus {
  background-color: #e5efff;
  color: #0068ff;
}
.btn-chat-header span {
  font-size: 1.3rem;
}
.btn-sidebar svg {
  font-size: 1.2rem;
}
